---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";

---

<ContentSection title="Let's Connect!" id="contact-us">
  <Fragment slot="lead">
    Book a <span class="text-primary">discovery call</span> and let's discuss how we can <span class="text-primary">help your business</span> launch your next webiste or project. 

  </Fragment>

</ContentSection> 